
<link rel="stylesheet" href="/css/styles.css">
 
<ul>
  <% @parsed_data.each do |student|%>
    <li>
      <img width = "200" src ="<%=@photo %>">
      <h3><%=@first_name%> <%=@last_name%></h3>
    </li>
  <%end%>
</ul>